systemy-rozproszone/zajecia2wcf/Client/Connected Services/ServiceReference1/task21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/zajecia2wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/zajecia2wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Statistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="Average" type="xs:double" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Variance" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistics" nillable="true" type="tns:Statistics" />
</xs:schema>